.header {
	background: #332208;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
		.logo {
			z-index: 5;
		}
	}
	.menu {
		display: flex;
		@media (max-width: 840px) {
			order: 1;
		}
	}
	.menu__btn {
		outline: none;
		z-index: 5;
		display: none;
		@media (max-width: 840px) {
			display: block;
			cursor: pointer;
			width: 35px;
			height: 24px;
			border: none;
			border-top: 2px solid #fefefe;
			border-bottom: 2px solid #fefefe;
			background-color: transparent;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				width: 35px;
				height: 2px;
				background-color: #fefefe;
				top: 9px;
				left: 0;
			}
		}
	}
	.menu__list {
		@media (max-width: 840px) {
			display: block;
			position: absolute;;
			top: 100px;
			left: 0;
			right: 0;
			background-color: #332208;
			transform: translateY(-500px);
			text-align: center;
			transition: all .5s;
		}
		&--active {
			transform: translateY(0px);
		}
		&-item + .menu__list-item {
			margin-left: 30px;
			@media (max-width: 840px) {
				margin-left: 0;
			}
		}
		&-link {
			text-transform: uppercase;
			color: #FEFEFE;
			font-size: 18px;
			line-height: 21px;
			position: relative;
			text-decoration: none;
			@media (max-width: 840px)  {
				padding: 20px 0;
				display: block;
			}
			&::after{
        content: '';
        position: absolute;
        top: 120%;
        left: 0;
        width: 100%;
        height: 2px;
        background: #FEFEFE;
        opacity: 0;
        transition: opacity 0.3s,
        transform 0.3s;
        transform: translateY(20px);
      }
      &:hover{
        &:after{
          opacity: 1;
          transform: translateY(0px);
        }
      }
		}
	}
	.phone {
		font-size: 18px;
		line-height: 21px;
		text-decoration: none;
		color: #FEFEFE;
		z-index: 5;
		@media (max-width: 380px) {
			font-size: 16px;
		}
	}
}